<style>
    body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
</style>
<div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="data:image/png;base64,{{imagenp2}}" width=190 height=55 alt="Acceder a Alie-Sell"/>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="userInput" class="fadeIn second" name="login" placeholder="Correo">
            <mat-form-field>
              <input matInput id="passwordInput" class="fadeIn second" [type]="hide ? 'password' : 'text'" name="login" placeholder="Contraseña" required> 
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
      <!--     <input type="text" id="passwordInput" class="fadeIn third" name="login" placeholder="Contraseña"> -->
            <input type="button" class="fadeIn fourth" value="Acceder" (click)="acceder()">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <input type="button" class="fadeIn fourth" value="Contrseña olvidad?">
            <input type="button" class="fadeIn fourth" value="Registrate a Alie-Sell" (click)="ir_registro()">
          </div>
        </div>
      </div>
